SchoolSystem/.vs
SchoolSystem/bin
SchoolSystem/bin/Debug
SchoolSystem/bin/Debug/net8.0
SchoolSystem/obj
SchoolSystem/appsettings.json
SchoolSystem/appsettings.Development.json
SchoolSystem/appsettings.json
