@{
    ViewData["Title"] = "Access Denied";
}

<!--Using _AdminLayout-->
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <p>You do not have permission to view this page.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Home</a>
</div>
