@using SchoolSystem.ViewModels
@model UpdateUserVM

<!--Using _AdminLayout-->
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit User</h2>
<form asp-action="UpdateUser" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label>Current Image</label><br />
        @if (!string.IsNullOrEmpty(Model.ExistingImage))
        {
            <img src="@Model.ExistingImage" alt="User Image" width="50" height="50" class="rounded-circle" />
        }
        else
        {
            <img src="/uploads/default-profile.png" alt="Default Image" width="50" height="50" class="rounded-circle" />
        }
    </div>

    <div class="mb-2">
        <label asp-for="Image">Upload New Image</label>
        <input type="file" asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>


    <div class="mb-2">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control">
            @foreach (var role in ViewBag.Roles as List<string>)
            {
                <option value="@role">@role</option>
            }
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
