@model SchoolSystem.ViewModels.GroupIndexVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Edit group status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-route-id="@Model.Group.Id" />
            <div>
                <label class="control-label">Teacher name:</label>
                <p class="form-control">@Model.Teacher.Name</p>
            </div>
            <div>
                <label class="control-label">Student name:</label>
                <p class="form-control">@Model.Student.Name</p>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">Is Active</label>
                @if (Model.Group.IsValid)
                {
                    <input disabled checked type="checkbox" class="form-check-input" />
                }
                else
                {
                    <input disabled type="checkbox" class="form-check-input" />
                }
                
            </div>
            @if (ViewBag.Message != null)
            {
                <p>@ViewBag.Message</p>
            }
            <div class="form-group">
                @if(Model.Group.IsValid){
                    <input type="submit" value="disable group" class="btn btn-primary" />
                }
                else
                {
                    <input type="submit" value="re-enable group" class="btn btn-primary" />
                }
            </div>
        </form>
    </div>
</div>

<div >
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
