/* Modify global styles to be less intrusive */
.btn:focus:not(.document-btn), 
.btn:active:focus:not(.document-btn), 
.btn-link.nav-link:focus:not(.document-btn), 
.form-control:focus:not(.document-form-input) {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Keep basic body styles */
body {
    background-color: #ffffff;
    color: #333333;
}
