@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

<ul class="navbar-nav login-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark">@User.FindFirst("FullName")?.Value (@User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value) </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark a" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>