@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="bg-image">
	<div class="overlay"></div>
	<div class="header-text">
		<h1>WELCOME TO OUR UNIVERSITY</h1>
		<p>We Believe There Is Nothing More Important Than Education</p>
		<button>READ MORE</button>
	</div>
</div>

<section class="cards">
	<div class="container">
		<h1 class="section-title">Enhance Your Learning with Our Online Tutoring Services</h1>
		<div class="card-items">
			<div class="item1">
				<a asp-controller="Home" asp-action="Dashboard">
					<img src="~/uploads/home/item1.jpg" alt="Dashboard"/>
					<h2>Dashboard</h2>
					<p>Access essential resources like tutor details, interactive chats, and informative documents</p>
				</a>
			</div>
			<div class="item2">
				<a asp-controller="Messages">
					<img src="~/uploads/home/item2.jpg" alt="Live Tutoring"/>
					<h2>Chat Tutoring</h2>
					<p>Chat or meet with a tutor in one-on-one tutoring sessions via a fully interactive online</p>
				</a>
			</div>
			<div class="item3">
				<a asp-controller="Document" asp-action="Index">
					<img src="~/uploads/home/item3.jpg" alt="Document"/>
					<h2>Document</h2>
					<p>Upload, view, and share comments on materials easily!</p>
				</a>
			</div>
		</div>
	</div>
</section>



