@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button id="sendEmailsButton">Send Test Emails</button>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("sendEmailsButton").addEventListener("click", async function () {
            try {
                const response = await fetch('/api/email/send-test', {
                    method: 'POST',
                });

                if (response.ok) {
                    alert("Emails sent successfully!");
                } else {
                    alert("Failed to send emails.");
                }
            } catch (error) {
                console.error("Error occurred:", error);
                alert("An error occurred while sending emails.");
            }
        });
    </script>
}
