@model ICollection<SchoolSystem.ViewModels.ChatListVM>

@if(Model != null && Model.Count() != 0)
{    
    foreach(var item in Model){
        if(@item.IsValid)
        {
            <a asp-action="ChatWindow" asp-route-groupid="@item.groupId">
                <div>
                    @if (item.image != null && item.image != "")
                    {
                        <img style="display:inline" width="70" height="70" src="/uploads/@item.image" onerror="this.onerror=null; this.src=/uploads/default-profile.png" />
                    }
                    else
                    {
                        <img style="display:inline" width="70" height="70" src="/uploads/default-profile.png" />
                    }
                    <h5 style="display:inline">@item.UserName</h5>
                </div>
            </a>
        }
    }
}
else
{
    <div style="text-align:center">
                <h1>
                    You have no assigned student for a conversation at the moment, 
                    please await for your assignment or contact the office to arrange
                    and assignment if you are yet to revice any information regarding
                    this topic
                </h1>
    </div>
}

