@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}


<div class="layout">
    <h2 class="heading-text">Chat</h2>
</div>

<div class="chat-container">
    <div class="chat-messages">
        <div class="message incoming">Xin chào! 👋</div>
        <div class="message outgoing">Chào bạn! 👋</div>
        <div class="message outgoing">Xanh ngát trong nền văn học Việt Nam thế kỉ 20, nổi bậc lên cây bút Nguyễn Thành Long. Không khai thác hiện thực cuộc sống khốc liệt, sắc cạnh và sôi sục như các nhà văn khác, Nguyễn Thành Long đã lựa chọn cách biểu đạt nhẹ nhàng, sâu lắng như chính tâm hồn ông, bởi ông yêu văn, yêu cả cuộc sống. Truyện ngắn “Lặng lẽ Sa Pa” thể hiện sâu sắc phong cách nghệ thuật ấy. Vẻ đẹp Lặng lẽ Sa Pa trầm lắng nhưng rạo rực và tinh tế vô cùng.</div>
        <div class="message incoming">Xanh ngát trong nền văn học Việt Nam thế kỉ 20, nổi bậc lên cây bút Nguyễn Thành Long. Không khai thác hiện thực cuộc sống khốc liệt, sắc cạnh và sôi sục như các nhà văn khác, Nguyễn Thành Long đã lựa chọn cách biểu đạt nhẹ nhàng, sâu lắng như chính tâm hồn ông, bởi ông yêu văn, yêu cả cuộc sống. Truyện ngắn “Lặng lẽ Sa Pa” thể hiện sâu sắc phong cách nghệ thuật ấy. Vẻ đẹp Lặng lẽ Sa Pa trầm lắng nhưng rạo rực và tinh tế vô cùng.</div>

        <div class="message outgoing">
            “Câu hát căng buồm với gió khơi,

            Đoàn thuyền chạy đua cùng mặt trời.

            Mặt trời đội biển nhô màu mới

            Mắt cá huy hoàng muôn dặm phơi”.
        </div>
        <div class="message outgoing">Chào bạn! 👋</div>
    </div>
    <div class="chat-input">
        <input type="text" placeholder="Nhập tin nhắn..." />
        <button>Gửi</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const menuItems = document.querySelectorAll(".menu-item");

        menuItems.forEach(item => {
            if (item.getAttribute("data-name") === "chats") {
                item.classList.add("active");
            }
        });
    });
</script>